<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>line1</key>
	<array>
		<string>phillips</string>
		<string>crawley</string>
		<string>williamsburg</string>
		<string>plymouth</string>
		<string>hilgendorf</string>
		<string>telford</string>
		<string>dudley</string>
		<string>cameron</string>
		<string>cleverley</string>
		<string>harrington</string>
		<string>elmsford</string>
		<string>waldman</string>
	</array>
	<key>line2</key>
	<array>
		<string>galaxies</string>
		<string>populations</string>
		<string>galaxies</string>
	</array>
	<key>line3</key>
	<array>
		<string>incarnations</string>
		<string>octogenarian</string>
		<string>adversity</string>
		<string>dissensions</string>
		<string>ergonomics</string>
		<string>obsessions</string>
		<string>forclosures</string>
		<string>exhibitions</string>
	</array>
	<key>line4</key>
	<array>
		<string>BBC</string>
		<string>ABC</string>
		<string>CNN</string>
		<string>NBC</string>
		<string>CBS</string>
		<string>PBS</string>
		<string>20/20</string>
		<string>global</string>
		<string>FOX</string>
	</array>
	<key>line4b</key>
	<array>
		<string>podcasts</string>
		<string>coverage</string>
		<string>netcasts</string>
		<string>broadcasts</string>
		<string>content</string>
		<string>spaceports</string>
		<string>civilians</string>
		<string></string>
	</array>
	<key>line6</key>
	<array>
		<string>apertures</string>
		<string>miniscule</string>
		<string>lucritive</string>
		<string>epitomized</string>
		<string>statutory</string>
		<string>nascent</string>
		<string>parochial</string>
	</array>
	<key>line6b</key>
	<array>
		<string>ultracompacts</string>
		<string>partisans</string>
		<string>admonishments</string>
		<string>incentives</string>
		<string>syncing</string>
		<string>reticence</string>
		<string>astro-physicists</string>
		<string>libertarians</string>
	</array>
	<key>line7</key>
	<array>
		<string>awetrocenial</string>
		<string>moratoriums</string>
		<string>stratospherical</string>
		<string>agrithenical</string>
		<string>tetrafluoride</string>
		<string>apologetics</string>
		<string>astrocenial</string>
		<string>pedophiles</string>
		<string>biostatisticians</string>
		<string>epitomes</string>
	</array>
</dict>
</plist>
